@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --fy-colors-surface-dim: #dcdad2;
  --fy-colors-surface: #fbf9f1;
  --fy-colors-surface-bright: #fbf9f1;
  --fy-colors-surface-container-lowest: #fff;
  --fy-colors-surface-container-low: #f6f4eb;
  --fy-colors-surface-container: #f0eee6;
  --fy-colors-surface-container-high: #eae8e0;
  --fy-colors-surface-container-highest: #e4e3db;
  --fy-colors-surface-variant: #dce5dc;
  --fy-colors-inverse-surface: #30312b;
  --fy-colors-inverse-on-surface: #f3f1e9;
}

body {
  background-color: var(--fy-colors-surface);
}

.material-you-slider .swiper-button-next,
.material-you-slider .swiper-button-prev {
  top: 90%;
  right: 1rem;
  left: auto;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  margin-top: 0;
  padding: 0.75rem;
  border-radius: 9999px;
  transform: translateY(-50%);
  background: rgb(255 255 255 / 20%);
  color: #fff;
  backdrop-filter: blur(8px);
}

.material-you-slider .swiper-button-prev {
  right: 4rem;
}

.material-you-slider .swiper-button-next::after,
.material-you-slider .swiper-button-prev::after {
  font-size: 1.25rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .material-you-slider .swiper-button-next,
  .material-you-slider .swiper-button-prev {
    display: inline-flex;
  }
}

.material-you-slider .swiper-pagination-bullet {
  background: #1c398e;
  opacity: 0.28;
}

.material-you-slider .swiper-pagination-bullet-active {
  opacity: 1;
}